@{
  Layout = "_Layout";
}

@using PierresOrderTracker.Models;

<h1>@Model["vendor"].VendorName's Orders</h1><br>

@if (@Model["orders"].Count == 0)
{
  <p><em>No orders have been placed by @Model["vendor"].VendorName.</em></p><br>
}

<ul class="lists">
  @foreach (Order order in @Model["orders"])
  {
    <li>
      <h4><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Title</a></h4>
    </li>
  }
</ul>

<div class="navlinks">
  <p><a href='/vendors/@Model["vendor"].Id/orders/new'>New Order</a></p>
  <p><a href='/vendors'>View Vendors</a></p>
</div>